# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg
.env
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Excluded folders
v1/
exe版本/
*.zip
node_modules/
release/
.bin/
.vite/

# v5/v6 build artifacts
*/dist/
*/release/